@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'NanumSquareNeo-Variable';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    position: relative;
}

ul>li>a {
    text-decoration: none;
}

input {
    color: black;
}

/* 바디 전체 */

/* 컨테이너 */
#container {
    width: 1100px;
    margin: 0 auto;
}

/* 헤더 전체 */
header {
    position: sticky;
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #7FB4E3;
    line-height: 80px;
    top: 0;
    z-index: 9999;
}

/* 헤더의 로고 이미지 */
#main__logo {
    margin: 0 auto;
}

header>div>img {
    width: 130px;
    cursor: pointer;
}

/* 헤더 메뉴부분 전체 */
#header__menu {
    width: 90%;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    font-weight: 700;
}

.login__signUp {
    cursor: pointer;
}


/* 헤더의 메뉴 리스트 */
header>ul>li {
    margin-right: 10%;
    cursor: pointer;
}

/* 로그인 회원가입 */
.login__signUp {
    width: 100px;
    display: flex;
    justify-content: right;
    font-size: 14px;
    color: white;
}

.header__menu__list {
    color: white;
    font-size: 20px;
}

#signUp,
#logout {
    margin-right: 20px;
}


/* 게시판 센터 로고 */
#center__logo {
    width: 200px;
}

/* 사이드바 */
#side__bar {
    height: 849px;
    border: none;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.sidebar__bigMenu {
    text-align: center;
    background-color: #0080C4;
    color: white;
    height: 50px;
    line-height: 50px;
}

.sidebar__midMenu {
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.sidebar__smallMenu {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 14px;
}

#width {
    width: 20%;
}

#centerGo {
    width: 10%;
}


#side__bar__select {
    text-align: center;
    outline: none;
    border: none;
}

.noShow {
    display: none !important;
}

.noshow {
    display: none !important;
}


/* 마우스 포인터 모양 */
ul>li {
    cursor: pointer;
}

.sidebar__bigMenu {
    cursor: default !important;
}

button {
    cursor: pointer;
}