@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'NanumSquareNeo-Variable';
    box-sizing: border-box;
    color: white;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

input {
    color: black;
}

/* 바디 전체 */
body {
    background: url(../../images/logo/UDiroBackgroundIMG.jpg) no-repeat;
    background-size: cover;
    position: relative;
}

/* 컨테이너 */
#container {
    width: 900px;
    margin: 0 auto;
}

/* 헤더 전체 */
header {
    width: 100%;
    height: 80px;
    display: flex;
    background-color: gray;
    opacity: 0.85;
    line-height: 80px;

}


/* 헤더의 로고 이미지 */
#main__logo {
    margin: 0 auto;
}

header>div>img {
    width: 130px;
    cursor: pointer;
}

/* 헤더 메뉴부분 전체 */
#header__menu {
    width: 90%;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    font-weight: 700;
}

/* 헤더의 메뉴 리스트 */
header>ul>li {
    margin-right: 10%;
    cursor: pointer;
}

/* 로그인 회원가입 */
.login__signUp {
    width: 100px;
    display: flex;
    justify-content: right;
    font-size: 14px;
    cursor: pointer;
}

.header__menu__list {
    color: white;
    font-size: 20px;
}

#signUp,
#logout {
    margin-right: 20px;
}

/* 
#mypage,
#logout {
    display: none;
} */

/* 헤더 끝 */





/* 중앙 메인 로고 */
#main__logo {
    text-align: center;
}

#main__logo>img {
    width: 400px;
    margin-top: 15px;

}

/* 검색창 시작 */

#Search__description {
    /* 검색창의 search 부분 div*/
    text-align: center;
    width: 66%;
    height: 50px;
    font-size: 26px;
    line-height: 50px;
}

#search__bar__container {
    text-align: center;
    color: black;
}

#search__filter {
    width: 100px;
    height: 40px;
    text-align: center;
    color: black;
}

#search__bar>option {
    color: #10376e;
}


#search__bar {
    color: #10376e;
    width: 400px;
    height: 40px;
    padding: 0 10px;
}

#search__filter,
#search__bar {
    border-radius: 10px;
    border: none;
}

/* 구 슬라이드 시작 */
.slide {
    /* layout */
    display: flex;
    margin: 0 auto;
    flex-wrap: nowrap;
    /* 컨테이너의 내용물이 컨테이너 크기(width, height)를 넘어설 때 보이지 않도록 하기 위해 hidden을 준다. */
    overflow: hidden;
    margin-top: 40px;

    /* position */
    /* slide_button의 position absolute가 컨테이너 안쪽에서 top, left, right offset이 적용될 수 있도록 relative를 준다. (기본값이 static인데, static인 경우 그 상위 컨테이너로 나가면서 현재 코드에선 html을 기준으로 offset을 적용시키기 때문) */
    position: relative;

    /* size */
    width: 400px;

    /* slide drag를 위해 DOM요소가 드래그로 선택되는것을 방지 */
    user-select: none;
}

.slide_item {
    /* layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* position - 버튼 클릭시 left offset값을 적용시키기 위해 */
    position: relative;
    left: 0px;

    /* size */
    width: 400px;
    height: 300px;
    /* flex item의 flex-shrink는 기본값이 1이므로 컨테이너 크기에 맞게 줄어드는데, 슬라이드를 구현할 것이므로 줄어들지 않도록 0을 준다. */
    flex-shrink: 0;

    /* transition */
    transition: left 0.15s;
    border-radius: 15px;
}

.slide_button {
    /* layout */
    display: flex;
    justify-content: center;
    align-items: center;

    /* position */
    position: absolute;
    /* 버튼이 중앙에 위치하게 하기위해 계산 */
    top: calc(50% - 16px);

    /* size */
    width: 32px;
    height: 32px;

    /* style */
    border-radius: 100%;
    background-color: #cccc;
    cursor: pointer;
}

.slide_prev_button {
    left: 10px;
}

.slide_next_button {
    right: 10px;
}

/* 각 슬라이드가 변경되는 것을 시각적으로 확인하기 쉽도록 각 슬라이드별 색상 적용 */


/* 페이지네이션 스타일 */
ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.slide_pagination {
    /* layout */
    display: flex;
    gap: 5px;

    /* position */
    position: absolute;
    bottom: 0;
    /* left:50%, translateX(-50%)를 하면 가로 가운데로 위치시킬 수 있다. */
    left: 50%;
    transform: translateX(-50%);
}

.slide_pagination>li {
    /* 현재 슬라이드가 아닌 것은 투명도 부여 */
    color: #7fb5ff88;
    cursor: pointer;
    font-size: 25px;
}

.slide_pagination>li.active {
    /* 현재 슬라이드 색상은 투명도 없이 */
    color: #7fb5ff;
}

.slide_item_duplicate {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0px;
    width: 400px;
    height: 300px;
    flex-shrink: 0;
    transition: left 0.15s;
}





/* 구 슬라이드 끝 */

/* 푸터 */
#sns>ul {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#sns>ul>li {
    width: 40px;
    height: 40px;
    margin: 0 20px;
}

#sns>ul>li>img {
    color: white;
    background-size: cover;
    width: 40px;

}

#copyright {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
    font-size: 12px;
}

#people {
    width: 400px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin: 0 auto;
    /* position: absolute;
    left: 55%;
    top: 77%; */
    background-color: rgba(183, 46, 60, 0.771);
    border-radius: 5px;
}

.green {
    background-color: green;
}

.red {
    background-color: rgba(183, 46, 60, 0.771);
}

.orange {
    background-color: rgba(194, 104, 71, 0.771);
}