<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find ID</title>
    <link rel="stylesheet" href="../../css/auth/findPw.css">
    <script src="../../js/auth/findPw.js" defer></script>
</head>

<body>
    <div>
        <h2>계정 정보 찾기</h2>
    </div>

    <hr>
    <div id="logoContainer">
        <img src="../../images/logo/UDiro_seoul_logo1.png" alt="udiro_logo_2">
    </div>
    <div id="container">
        <h2>비밀번호 찾기</h2>
        <br>
        <br>
        <div id="content">
            <span>아이디</span>
            <input type="text" placeholder="아이디를 입력하세요" maxlength="20" id="user_id">
        </div>
        <div id="content">
            <span>휴대전화</span>
            <input type="text" placeholder="휴대전화 번호를 입력하세요" maxlength="20" id="user_phone">
            <button onclick="validation()">비밀번호 찾기</button>
        </div>

        <div id="centerGo">
            <span id="findId">아이디 찾기</span>
            <span>|</span>
            <span id="signUp">회원가입</span>
        </div>
    </div>
    <footer>Copyright © UDiro Corp. All Rights Reserved.</footer>
    <script src="../../js/location/findPw.js" defer></script>
</body>

</html>